<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-2 mb-0 bg-body rounded">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="bi bi-person-circle"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse row" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <div class="col-sm-3 col-lg-3">
          <a class="navbar-brand mt-2 mt-lg-0" href="#">
            <span style="color: blue" id="project-logo">Gemini</span>
          </a>
        </div>


        <!-- Middle Search bar -->
        <div class="col-sm-3 col-lg-3 offset-1  ">
        <form class="form-inline ">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <!-- <button type="submit" class="btn btn-default">Submit</button> -->
        </form>
      </div>
      <!-- Middle Search bar -->
  
      <!-- Right elements -->
      <div class="d-flex col-sm-3 col-lg-3 offset-2 justify-content-end align-items-end">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a href="#" class="nav-link py-1" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
              <span class="input-group-text" style="border: none; background-color: inherit;" id="basic-addon1">
                <i class="bi bi-person-circle"></i>
              </span>
            </a>
           </li>
           <li class="nav-item">
            <a href="#" class="nav-link py-1 " title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
              <span class="input-group-text" style="border: none; background-color: inherit;" id="basic-addon1">
                <i class="bi bi-person-circle"></i>
              </span>
            </a>
           </li>
           <li class="nav-item">
            <a href="#" class="nav-link py-1" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
              <span class="input-group-text" style="border: none; background-color: inherit;" id="basic-addon1">
                <i class="bi bi-person-circle"></i>
              </span>
            </a>
           </li>
           <li class="nav-item">
            <a href="#" class="nav-link py-1" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
              <span class="input-group-text" style="border: none; background-color: inherit;" id="basic-addon1">
                <i class="bi bi-person-circle"></i>
              </span>
            </a>
           </li>
           <li class="nav-item">
            <a href="#" class="nav-link py-1" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
              <span class="input-group-text" style="border: none; background-color: inherit;" id="basic-addon1">
                <i class="bi bi-person-circle"></i>
              </span>
            </a>
           </li>
           <li class="nav-item">
            <a href="#" class="nav-link py-1" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
              <span class="input-group-text" style="border: none; background-color: inherit;" id="basic-addon1">
                <i class="bi bi-person-circle"></i>
              </span>
            </a>
           </li>
          </ul>
      </div>
      <!-- Right elements -->
      </div>
      <!-- Collapsible wrapper -->

      
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->