<div class="d-flex justify-content-end align-items-center">
    <span>{{time}}, {{name}} - Current session live since 10:02:09 </span>
    <div class="btn-group" >
        <button class="btn btn-light border btn-sm dropdown-toggle" style="border: none; margin: 10px;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          IGMS0013
        </button>
        <ul class="dropdown-menu">
          <li class=dropdown-list>
                <span>IGMS0013</span>
          </li>
          <li>
            <span>IGMS0013</span>
      </li>
        </ul>
      </div>
</div>