<div class="row m-2">
    <div class="col-lg-4">
        <app-componenet-cards></app-componenet-cards>
    </div>
    <div class="col-lg-4">
        <app-componenet-cards></app-componenet-cards>
    </div>
    <div class="col-lg-4">
        <app-componenet-cards></app-componenet-cards>
    </div>
    <div class="col-lg-4">
        <app-componenet-cards></app-componenet-cards>
    </div>
    <div class="col-lg-4">
        <app-componenet-cards></app-componenet-cards>
    </div>
    <div class="col-lg-4">
        <app-componenet-cards></app-componenet-cards>
    </div>
    <div class="col-lg-4">
        <app-componenet-cards></app-componenet-cards>
    </div>
</div>