<!-- Header -->
<app-componenet-header></app-componenet-header>
<!-- BreaCrumb -->
<app-component-roles></app-component-roles>
<!-- Main Display ( Rendor)-->
<div class="d-flex container">
    <!-- Side Bar-->
    <app-compoenent-sidebar></app-compoenent-sidebar>
    <!-- Dashboards -->
    <div class="row">
        <div class="col-lg-8 col-md-6">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <app-componenet-cards></app-componenet-cards>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <app-componenet-cards></app-componenet-cards>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <app-componenet-cards></app-componenet-cards>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <app-componenet-cards></app-componenet-cards>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <app-componenet-cards></app-componenet-cards>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <app-componenet-cards></app-componenet-cards>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <app-componenet-cards></app-componenet-cards>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <app-componenet-cards></app-componenet-cards>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <app-componenet-cards></app-componenet-cards>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <app-componenet-cards></app-componenet-cards>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <app-componenet-cards></app-componenet-cards>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1">

            <a href="#" class="nav-link py-1" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-original-title="Dashboard">
                <span class="input-group-text" style="border: 1px solid black; background-color: inherit; position: relative;" id="basic-addon1">
                    <i class="bi bi-funnel-fill"></i><span class="">&nbsp;  Filter UI</span>
                </span>
            </a>
        </div>
        <div class="col-lg-3 col-md-5 sol-sm-12">
            <div class="" style="border: 1px black solid; padding: 10px; min-height: 25%; max-height: 30%;overflow-y: auto;">
                <app-component-recent></app-component-recent>
            </div>
            <div class="" style="border: 1px black solid; margin-top: 10px; padding: 10px; min-height: 50%;max-height: 50%; overflow-y: auto;">
                <app-componenet-news></app-componenet-news>
            </div>
        </div>
    </div>
    <!--Right side articles -->

</div>