<div class="row m-2">
    <div class="col-lg-12" style="margin-left: 20px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Product</a></li>
              <li class="breadcrumb-item"><a href="#">Publish Results</a></li>
              <li class="breadcrumb-item"><a href="#">MoS Results</a></li>
              <li class="breadcrumb-item active" aria-current="page">Capacity and Revenue by Bid</li>
            </ol>
          </nav>
        <h1 class="text-primary"><b>Capacity and Revenue by Bid</b></h1>
       <!-- Scrren contents -->
       <div class=" border border-dark" style="min-height: 650px;">

            
            
       </div>
    </div>
</div>