  <!-- SideBar -->

  <div class="d-flex flex-column justify-content-start align-items-center flex-shrink-0 bg-light shadow-sm" style="width: 4.5rem; height: 100%;">
    <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
      <svg class="bi" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="visually-hidden">Icon-only</span>
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <a href="#" class="nav-link py-3 border-bottom border-top" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
          <span class="input-group-text" style="border: none; background-color: inherit;" id="basic-addon1">
            <i class="bi bi-person-circle"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
          <span class="input-group-text" style="border: none; background-color: inherit;" id="basic-addon1">
            <i class="bi bi-person-circle"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
          <span class="input-group-text" style="border: none; background-color: inherit;" id="basic-addon1">
            <i class="bi bi-person-circle"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
          <span class="input-group-text" style="border: none; background-color: inherit;" id="basic-addon1">
            <i class="bi bi-person-circle"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
          <span class="input-group-text" style="border: none; background-color: inherit;" id="basic-addon1">
            <i class="bi bi-person-circle"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
          <span class="input-group-text" style="border: none; background-color: inherit;" id="basic-addon1">
            <i class="bi bi-person-circle"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>