  <!-- SideBar -->

  <div class="d-flex flex-column justify-content-start align-items-center flex-shrink-0 shadow-sm" style="width: 4.5rem; height: 100%; background-color: #F1F2F6;">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item ">
        <button class="btn active py-3  ">
          <span class="input-group-text" style="border: none; background-color: inherit; padding: 0%;" id="basic-addon1">
            <img src="../../assets/images/icons8-product-24 1.png" alt="Bootstrap"  width="50" height="40">
          </span>
        </button>
      </li>
      <li>
        <button class="btn py-3 ">
          <span class="input-group-text" style="border: none; background-color: inherit;" id="basic-addon1">
            <img src="../../assets/images/icons8-handshake-48 1.png" alt="Bootstrap"  width="40" height="40">
          </span>
        </button>
      </li>
      <li>
        <button class="btn py-3 ">
          <span class="input-group-text" style="border: none; background-color: inherit;" id="basic-addon1">
            <img src="../../assets/images/icons8-water-meter-64 1.png" alt="Bootstrap"  width="40" height="40">
          </span>
        </button>
      </li>
      <li>
        <button class="btn py-3 ">
          <span class="input-group-text" style="border: none; background-color: inherit;" id="basic-addon1">
            <img src="../../assets/images/icons8-choosing-64 1.png" alt="Bootstrap"  width="40" height="40">
          </span>
        </button>
      </li>
      <li>
        <button class="btn py-3 ">
          <span class="input-group-text" style="border: none; background-color: inherit;" id="basic-addon1">
            <img src="../../assets/images/icons8-measurement-64 1.png" alt="Bootstrap"  width="40" height="40">
          </span>
        </button>
      </li>
      <li>
        <button class="btn py-3 ">
          <span class="input-group-text" style="border: none; background-color: inherit;" id="basic-addon1">
            <img src="../../assets/images/icons8-allocation-68 1.png" alt="Bootstrap"  width="40" height="40">
          </span>
        </button>
      </li>
    </ul>
  </div>